@import 'styles/variables.scss';

.app {
  width: 600px;
  margin: 80px auto $base-margin auto;
  background-color: $white;
}

header {
  padding: 2 * $base-padding;
  background-color: $support-blue;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.red-badge {
  color: $white;
  background-color: $support-red;
  display: inline-block;
  padding: 0 0.5rem;
  font-style: italic;
  border-radius: 10rem;
  margin: 0.2rem;
}

.flex-container {
  display: flex;
}

.product {
  padding: 0;
  width: $image-size;
  margin: $base-margin;
  .product-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img {
    width: $image-size;
    height: $image-size;
    margin: 20px 0 10px 0;
    display: block;
  }

  button {
    color: $white;
    background-color: $support-blue;
    outline: none;
    border: none;
    padding: 0.2rem 1rem;
    float: right;
  }

  p {
    display: inline;
  }
  button:active {
    background-color: $second-blue;
  }
}
